<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension" />
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <remove name="WebDAV" />
        </handlers>
        <modules>
            <add name="UriCacheModule" />
            <add name="FileCacheModule" />
            <add name="TokenCacheModule" />
            <add name="TracingModule" />
            <add name="RequestMonitorModule" />
            <add name="ManagedEngine64" preCondition="integratedMode,runtimeVersionv2.0,bitness64,winx86_64" />
            <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32,winx86_64" />
            <add name="ManagedEngineV4.0_32bit" preCondition="integratedMode,runtimeVersionv4.0,bitness32,winx86_64" />
            <add name="ManagedEngineV4.0_64bit" preCondition="integratedMode,runtimeVersionv4.0,bitness64,winx86_64" />
        </modules>
        <httpErrors errorMode="Custom">
            <remove statusCode="502" subStatusCode="-1" />
            <remove statusCode="501" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <remove statusCode="431" subStatusCode="-1" />
            <remove statusCode="412" subStatusCode="-1" />
            <remove statusCode="406" subStatusCode="-1" />
            <remove statusCode="405" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="401" subStatusCode="-1" />
            <error statusCode="401" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="403" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="405" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="406" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="412" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="431" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="500" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="501" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
            <error statusCode="502" prefixLanguageFilePath="" path="/err.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <machineKey validation="3DES" />
        <!-- <modules runAllManagedModulesForAllRequests="true"></modules> -->
    </system.web>
</configuration>
